header {
  position: fixed;
  z-index: 999999;
  width: 100%;
}

.header-corner {
  margin-left: 15px;
  cursor: pointer;
  color: rgba(0,0,0,0.54);
}

.explore-title, .other-links {
  color: rgba(0,0,0,0.54);
  text-decoration: none;
  cursor: pointer;
}

.other-links{
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(0,0,0,0.54);
  text-transform: uppercase;
  /* -webkit-text-fill-color: rgba(0,0,0,0.54); */
  font-size: 14px;
}

.explore-nav-spacer {
  flex: 1 1 auto;
}

.explore-toolbar {
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid;
  border-color: rgba(0,0,0,0.14);
}

.explore-navbar-shadow {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

.active {
  color: #ff5252;
}
