<header class="primary-header-container">
  <span>RabbitMQ</span>
</header>
<div class="dashboard-wrapper">
  <div class="mat-title">RabbitMQ Meta Data and Health Check</div>
  <div class="card-wrapper">
    <md-card class="card-content">
      <md-card-title>
          <span class="mat-subheading-2">Node Health Status</span>
      </md-card-title>
      <md-card-content class="mat-title card-value">
        {{ healthStatus | uppercase }}
      </md-card-content>
    </md-card>
    <md-card class="card-content">
        <md-card-title>
            <span class="mat-subheading-2">Number of Queues</span>
        </md-card-title>
        <md-card-content class="mat-title card-value">
          {{ queueCount }}
        </md-card-content>
    </md-card>
    <md-card class="card-content">
        <md-card-title>
            <span class="mat-subheading-2">Number of Consumers</span>
        </md-card-title>
        <md-card-content class="mat-title card-value">
          {{ consumerCount }}
        </md-card-content>
    </md-card>
  </div>
  <div class="separator"></div>
  <div>
    <header class="mat-title">
      Consumer Utilization
    </header>
    <div *ngIf="consumerUtilizationCollection; else loaderView" class="consumer-card-wrapper">
      <ng-container *ngFor="let consumer of consumerUtilizationCollection">
        <md-card class="consumer-card-content">
            <md-card-title>
                <span class="mat-subheading-2">{{consumer?.name | uppercase}}</span>
            </md-card-title>
            <md-card-content class="card-value">
                <div class="consumer-utilisation mat-title">{{ consumer?.consumer_utilisation | convertToInteger | percent }}</div>
                <div *ngIf="consumer?.state==='running'; else statusRed" class="status-green">{{ consumer?.state }}</div>
                <ng-template #statusRed><div class="status-red">{{ consumer?.state }}</div></ng-template>
                <div class="extra-details"><span>Message Rate : </span><span>{{ consumer?.messages_details?.rate }}</span></div>
                <div class="extra-details"><span>Messages Ready : </span><span>{{ consumer?.messages_ready }}</span></div>
                <div class="extra-details"><span>Messages Unacknowledged : </span><span>{{ consumer?.messages_unacknowledged }}</span></div>
                <div class="extra-details"><span>Total Messages : </span><span>{{ consumer?.messages }}</span></div>
            </md-card-content>
        </md-card>
      </ng-container>
    </div>
    <ng-template #loaderView><div class="consumer-utilisation-loader"><md-spinner mode="indeterminate"></md-spinner></div></ng-template>
  </div>
</div>
